#header {
  display:  block;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  text-align: right;
  background-color: #151c3a;
  color: #fff;
}

#header img {
  position: fixed;
  left:-5px;
  top:-5px;
}