.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rad-1 {
  border-radius: 5px;
}

body {
  background-color: #151c3a;
  
}

html {
  scroll-behavior: smooth;
}

* {
  color: #fff;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 45pt;
}


::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    background: #151c3a;
    box-shadow: inset 1px 1px 0.5px rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb {
    background: #888;
    box-shadow: inset 1px 1px 0.5px rgba(0,0,0,0.2);
} 